node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Prisma Studio temp logs
.tmp/

# Uploaded files (except placeholders)
uploads/*
!uploads/placeholder-*.jpg
